*= require bootstrap
* {
	margin: auto 0;
}

/*--------Menu-----------*/
@import url(http://fonts.googleapis.com/css?family=Capriola);
#menu,
#menu ul,
#menu ul li,
#menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}
#menu {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#menu.align-right {
  float: right;
}
#menu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#menu.align-right ul li:first-child,
#menu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#menu #bg-one,
#menu #bg-two,
#menu #bg-three,
#menu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#menu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#menu #bg-two {
  height: 59px;
  z-index: 2;
  background: url('bg.png');
}
#menu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#menu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('bg.png');
}
#menu ul {
  height: 59px;
}
#menu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#menu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#menu ul li:first-child,
#menu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#menu ul li:hover,
#menu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#menu ul li a:hover,
#menu ul li.active > a {
  background: url('bg.png');
  color: #ffffff;
}

/*-------Sidebar navigation-----*/
#sidebar_nav{

}


/*---Title of the page---*/
#dinner_title {
	text-align: center;
}

/*---Retail dinner table---*/

.DinnersTable {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid #333;
	background-color: #f3f3f3;
}

.DinnersTable td{
	padding:7px; border:#4e95f4 1px solid;
}

/* provide some minimal visual accomodation for IE8 and below */
.DinnersTable tr{
	background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.DinnersTable tbody tr:nth-child(odd){ 
	background: #B0C4DE;
}
/*  Define the background color for all the EVEN background rows  */
.DinnersTable tbody tr:nth-child(even){
	background: #FCFCFC	;
}

.DinnersTable th, .DinnersTable td {
	padding: 0.5em;
	border: 1px dotted #666;
}

#dinner_labels {
	background-color: #4682B4;
	color: white;
	text-decoration: none;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */