* {
	margin: auto 0;
}

/*---The fix nav bar needs this padding to show up the content properly*/
body {
	padding-top: 50px;
}

/*---Containers---*/
.container-custom {
	width: 75%;
	margin-left: 280px;
	margin-top:0;
}

/*---Nav from bootstrap customization---*/
#nav-stacked{
	width: 200px;
	float: left;
	margin-top: 45px;
}

/*---Title of the page---*/
#title {
	text-align: center;
	margin-bottom: 30px;
}

/*--Float right--*/
.fright {
	float:right;
}

/*---Retail dinner table---*/

.DinnersTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #333;
	background-color: #f3f3f3;
	float: right;
	margin-top: 0;
	margin-left: 0;
	margin-right: 50px;
	margin-bottom: 50px;
}

.DinnersTable td{
	padding:7px; border:#4e95f4 1px solid;
}

/* provide some minimal visual accomodation for IE8 and below */
.DinnersTable tr{
	background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.DinnersTable tbody tr:nth-child(odd){ 
	background: #B0C4DE;
}
/*  Define the background color for all the EVEN background rows  */
.DinnersTable tbody tr:nth-child(even){
	background: #FCFCFC	;
}

.DinnersTable th, .DinnersTable td {
	padding: 0.5em;
	border: 1px dotted #666;
}

#dinner_labels {
	background-color: #4682B4;
	color: white;
	text-decoration: none;
}
#dinner_labels th {
	padding:3px;
}

/*padding nas celulas*/
#pad td{
	padding:3px;
}
/*---Forms---*/
.form {

}

/*---buttons customized*/
#button-custom {
	margin-top: 20px;
}
#button-custom a{
	color:white;
}

/*---Footer---*/
.footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #428bca;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-width: 0;
}

/*---Show page---*/
.show-page {
	padding: 40px;
}

#submit-btn {
	border-radius: 8px;
}

/*Alert bar error*/
.alert {
	display:none;
}

/*When logged in*/
#logged {
	margin-top: 15px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */